.info{
    text-align: center;
    background: #1A1B21;
    border-radius: 10px 10px 0px 0px;
}

.logo{
    width: 317px;
    height: 317px;
    border-radius: 10px 10px 0px 0px;
}

.name{
    font-weight: 700;
    font-size: 25px;
    color: white;
    margin-top: 21px;
}

.title{
    font-weight: 400;
    font-size: 12.8px;
    color: #F3BF99;
    margin-top: 6px;
}

.email{
    font-weight: 400;
    font-size: 10.24px;
    color: #F5F5F5;
    margin-top: 8.81px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.buttons > button{
    width: 115px;
    height: 34px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
}

.emailButton{
    border: 1px solid #D1D5DB;
}

.linkButton{
    color: white;
    background: #5093E2;
    border: none;
}

.textLogo{
    width: 12.8px;
    margin-right: 8px;
    align-self: center;
}